* {
	margin: 0;
	padding: 0;
}

body {
	background: #fff url(img/background.jpg) no-repeat center center/cover;
	height: 100vh;
	overflow: hidden;
}

h1 {
	color: #fff;
	text-align: center;
	font-family: 'Caveat', cursive;
	font-weight: lighter;
	font-size: 60px;
	margin: 20px auto;
}

h3 {
	font-size: 23px;
	margin-top: 10px;
}

#btn_new {
	width: 100px;
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
	font-family: cursive;
	background-color: #fff;	
}

.colors {
	width: 40px;
	height: 40px;
	border: 1px solid black;
	border-radius: 50%;
	cursor: pointer;
	display: block;
	float: left;
	margin: 10px 10px;
}

.green {
	background-color: #BCF38F;
}

.yellow {
	background-color: #F4E78E;
}

.orange {
	background-color: #FDB16D;
}

.blue {
	background-color: #95A3F4;
}

.pink {
	background-color: #FD99B3;
}

.sticky {
	width: 240px;
	height: 220px;
	box-shadow: 3px 3px 3px gray;
	margin: 35px auto 10px;
	cursor: all-scroll;
	text-align: center;
}

.sticky textarea {
	width: 75%;
	height: 75%;
	font-size: 20px;
	border: none;
	background: transparent;
	resize: none;
	overflow: hidden;
}

.sticky textarea:focus {
	outline: none;
}

#img_add {
	float: right;
	height: 40px;
	width: 40px;
	cursor: pointer;
}

#div_add {
	background-color: rgba(200,200,200,0.5);
	height: 400px;
	width: 600px;
	display: none;
	position: fixed;
	top: 150px;
	right: 450px;
}

#btn_close {
	background-color: #fff;
	width: 30px;
	height: 30px;
	border: 1px solid #fff;
	border-radius: 50%;
	font-size: 20px;
	font-weight: bold;
	float: right;
	margin: 15px;
	cursor: pointer;
}